<h1>Ruby Blog App</h1>

<h3><%= link_to "Go To The Blog",posts_path %></h3>

<hr>
<br>
<h3>underConstruction...</h3>
<<<<<<< HEAD
<img src="https://farm3.staticflickr.com/2587/32896390355_5653fc067f_o.jpg">
=======
<img src="https://farm3.staticflickr.com/2587/32896390355_5653fc067f_o.jpg">
>>>>>>> e33974d98db0171b827ea801d0bcad4e75f173db
